.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;

}

.login-form{
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px grey;
}

.login-heading{
    margin: 1rem auto;
    font-size: 34px;
    font-weight: 400;

}
.label{
    padding: 0 35px;
}
.inputBox{
    width: 200px;
    margin: 0 13px;
    height: 27px;
    border-radius: 10px;
    padding: 0px 8px;
    font-weight: 300;
} 

.entry{
    margin: 17px 0 0 32px
}

.error{
    color: red;
    padding: 0 35px;
}

.none{
    display: none;
}

.inline{
    display: inline;
}
