.container{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;

}

.login-form{
    border: 2px solid red;
    width: 380px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-heading{
    margin: 0;
    padding: 35px;
    font-size: 34px;
    font-weight: 400;

}
.label{
    padding: 0 35px;
}
.inputBox{
    width: 200px;
    margin: 0 13px;
    height: 27px;
    border-radius: 10px;
    padding: 0px 8px;
    font-weight: 300;
} 

.entry{
    margin: 17px 0 0 32px
}
