.container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

.login-form{
    border: 2px solid red;
    width: 380px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-heading{
    margin: 0;
    padding: 35px;
    font-size: 34px;
    font-weight: 400;

}

/* .inputBox{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1rem;
    height: 48px;
} */
