.navigationBar{
    height: 40px;
}

.navbar{
    display: flex;
    height:100%;
    margin:0;
    background-color: #1b9ae2;
    text-align: center;
    align-items: center;
    padding-left:0;
}

.navbar-item{
    list-style: none;
    width: 100%;
    height: 80%;
    background-color: #092492cc;
    border-radius:25px;
    border: 2px solid white
}

.navbar-anchor{
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.visited{
    background-color: rgb(167, 152, 42);   
}

.attempted{
    background-color: rgb(15, 132, 93);
}