.navigationBar{
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100vw;
    background-color: burlywood;
    display: flex;
    box-sizing: content-box;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: aqua;
    box-sizing: content-box;
}

.navbar-item{
    list-style: none;
    width: 100%;
    border: 2px solid red;
}

.navbar-button{
    width: 100%;
    height: 50px;
    margin: 2px;
    background-color: brown;
    border-radius: 50px;
}