.question{
    
}

.option{
    width: 400px;
    min-height: 40px;
    border-radius: 16px;
    border: solid rgb(65, 54, 168) 2px;
    box-sizing:border-box;
    padding: 5px 0 5px 25px;
    margin:10px;
}

.btn{
    width: 105px;
    height: 40px;
    border-radius: 20px;
    background-color: #092492cc;
    color: white;
    border: none;
    margin: 17px auto;
}

.timer{
    position: absolute;
    right: 200px;
    top: 64px;
    display:inline-block;
    width: 111px;
    height: 70px;
    border-radius: 20px;
    background-color: #204aefcc;
    color: white;
    border: none;
    font-weight: 700;
    font-size:38px;
    text-align: center;
    box-sizing: border-box;
    padding: 7px;
}

.buttons{
    display: flex;
    
}

