.question{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.option{
    width: 100%;
    min-height: 20%;
    border-radius: 16px;
    border: solid rgb(65, 54, 168) 2px;
    box-sizing: border-box;
    padding: 5px 0 5px 25px;
    margin: 10px;
}

.btn{
    width: 105px;
    height: 40px;
    border-radius: 20px;
    background-color: #092492cc;
    color: white;
    border: none;
}

.timer{
    display:inline-block;
    width: 111px;
    border-radius: 20px;
    background-color: #204aefcc;
    color: white;
    border: none;
    font-weight: 700;
    font-size:38px;
    padding: 7px;
    margin: 0 90%;
}

.buttons{
    justify-content: space-around;
    display: flex;
}

