.report-file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.review{
    border: grey solid 2px;
    width: 90%;
    border-radius: 20px;
    
}

.correct{
    border: green solid 2px;
    margin:5px auto;
}

.incorrect{
    border: maroon solid 2px;
    margin:5px auto;
}

.unattempted{
    border: grey solid 2px;
    margin:5px auto;
}

.correct-p{
    color: green ;
    padding-left: 2rem;
    font-weight:600;
    font-size:1.2rem;
}

.incorrect-p{
    color: maroon ;
    padding-left: 2rem;
    font-weight:600;
    font-size:1.2rem;
    
}

.unattempted-p{
    color: grey ;
    padding-left: 2rem;
    font-weight:600;
    font-size:1.2rem;
}

.review-ques{
    padding-left: 2rem;
    font-weight:600;
    font-size:1.2rem;
}

.report-heading{
    padding: 5px;
    margin: auto;
}

.result-summary{
    display: flex;
    margin: 5px auto;
    padding-right: 0.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px grey;
}
